:root{
    --primary-color: #bfbfbf;
    --secondary-color: #404040;
    --background-color: #0d0d0d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: var(--secondary-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #333;
    color: white;
}